<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Milli uses your location to track mileage for tax deductions while driving.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Milli uses background location to automatically track mileage for tax deductions.</string>
</dict>
</plist>
